@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
    <button type="button" class="btn btn-info" onclick="addNewContact()">Add New Contact</button>
    <button type="button" class="btn btn-info" onclick="addNewOrder()">Add New Order</button>
</div>

<div>
    <p id="result"></p>
</div>