@{
    ViewData["Title"] = "Home Page";
}


<div class="col-md-4">


    <table class="table table-hover">
        <tr>
            <td>Between two service</td>
            <td colspan="2">
                <button type="button" class="btn btn-info" onclick="addNewContact()">Add New Contact</button>
            </td>
        </tr>
        <tr>
            <td>Send Scheduled Message(10 second)</td>
            <td colspan="2">
                <button type="button" class="btn btn-info" onclick="ScheduledContact()">Add New Contact</button>
            </td>
        </tr>
        <tr>
            <td>Inside One service</td>
            <td colspan="2">
                <button type="button" class="btn btn-info" onclick="addNewOrder()">Add New Order</button>
            </td>
        </tr>
        <tr>
            <td>
                Send/Request
            </td>
            <td>
                <input placeholder="type Family for check risk" id="txtFamily"/>
            </td>
            <td>
                <button class="btn btn-info" onclick="getResult()">Result</button>
            </td>
        </tr>
        <tr>
            <td>
                Result
            </td>
            <td colspan="2">
                <p id="result"></p>
            </td>
        </tr>
    </table>
</div>