@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
  
    <button type="button" class="btn btn-info" onclick="addNewContact()">Add New Contact</button>
    <button type="button" class="btn btn-info" onclick="addNewOrder()">Add New Order</button>
</div>
<div class="text-center">
    <input placeholder="type Family for check risk" id="txtFamily" />
    <button class="btn btn-info" onclick="getResult()">Result</button>
</div>

<div class="text-center">
    <p id="result"></p>
</div>